{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
<br>
<br>
    <div class="shadow-lg p-3 mb-5 bg-body rounded">
    <h1><center>Login</center></h1>
    <form action="{{ path('app_login') }}" method="post">
        <label for="username">Email:</label>
        <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}"><br>

        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" name="_password"><br>

        <input type="hidden" name="_target_path" value="/post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button type="submit" class="btn btn-warning">Login</button>

        <a href="{{ path('app_forgot_password_request') }}"> reset password</a>

        {% if error %}
            <center> <div class="fs-1"><div class="text-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div></div> </center>

        {% endif %}
    </form>
</div>



{% endblock %}
