{% extends 'base.html.twig' %}

{% block title %}Hello ArchiveController!{% endblock %}

{% block body %}

        <h1 class="animate-charcter"><center>Posts Archivés</center></h1>

        <div class="container text-left">
            <div class="row">



                {% for post in posts %}
                {% if post.isArchived == 1 %}
                <div class="col-md-4">
                    <div class="card shadow" style="width: 18rem;">
                            <p>{{ post.dateTime ? post.dateTime|date('m-d H:i') : '' }}</p>

                            <center><h5 class="card-title">{{ post.title }}</h5></center>
                            <img src="{{ vich_uploader_asset(post) }}" alt="{{ post.imageName }}">
                            <div class="card-body">
                                <p class="card-text">{{ post.text }}</p>
                                <b><p class="card-text">{{ post.user.prenom }}</p></b>

                                {% if is_granted('ROLE_ADMIN') or user.id == post.user.id  %}
                                    <a href="{{ path('app_post_show', {'id': post.id}) }}" >show</a>
                                    <a href="{{ path('app_post_edit', {'id': post.id}) }}" >edit</a>
                                {% endif %}

                        </div>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
            {% endif %}
            {% endfor %}


        </div>

        </div>

        <style>
            .animate-charcter
            {
                text-transform: uppercase;
                background-image: linear-gradient(
                        -225deg,
                        #231557 0%,
                        #44107a 29%,
                        #ff1361 67%,
                        #fff800 100%
                );
                background-size: auto auto;
                background-clip: border-box;
                background-size: 200% auto;
                color: #fff;
                background-clip: text;
                text-fill-color: transparent;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                animation: textclip 2s linear infinite;
                display: inline-block;
                font-size: 100px;
            }

            @keyframes textclip {
                to {
                    background-position: 200% center;
                }
            }</style>
{% endblock %}
